* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	box-sizing: border-box;
}

body {
	/* border: solid 1px red; */
	background-color: #000000;
	background: linear-gradient(140deg, rgb(47, 42, 63) 0%, #4f4053 74%) no-repeat
		center center fixed;
	background-size: contain;
	color: hsl(0, 0%, 100%);
	max-width: 600px;
	padding: 1rem;
	margin: 2rem auto;
}

.form-label {
	color: hsl(303, 11%, 69%);
	padding-left: 0.2rem;
}

.new-item-form {
	/* border: solid 1px red; */
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.form-row {
	/* border: solid 1px blue; */
	display: flex;
	flex-direction: row;
	gap: 0.1rem;
}

.btn {
	background: hsl(0, 0%, 100%);
	/* border: 1px solid hsl(0, 0%, 0%); */
	border: none;
	color: hsl(0, 0%, 0%);
	padding: 0.5em 0.75em;
	/* border-radius: 0.25em; */
	cursor: pointer;
	outline: none;
	font-weight: bold;
}

.btn:hover,
.btn:focus-visible {
	background: hsl(0, 0%, 75%);
}

.btn.btn-danger {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.3rem;
	background: hsla(0, 0%, 100%, 0);
	border: none;
	color: hsl(0, 0%, 54%);
	padding: 0em 0em;
}

.btn.btn-danger:hover,
.btn.btn-danger:focus-visible {
	color: hsl(0, 100%, 75%);
	text-shadow: 0px 0px 10px rgb(255, 213, 213);
}

.new-item-form input {
	width: 100%;
	outline: none;
	background: rgb(210, 210, 210);
	border: 1px solid rgb(210, 210, 210);
	/* border-radius: 0.25em; */
	padding: 0.25em 0.5em;
	margin-right: 4px;
	color: hsl(0, 0%, 0%);
	font-size: 1rem;
	font-family: Arial, Helvetica, sans-serif;
}

.new-item-form input:focus {
	box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7);
	background: rgb(255, 255, 255);
}

.new-item-form button {
	background: rgb(210, 210, 210);
	font-size: 1rem;
}

.new-item-form button:hover {
	background: rgb(255, 255, 255);
	box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7);
}

.header {
	color: hsl(0, 0%, 100%);
	font-size: 1.5rem;
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
}

.list {
	margin: 0;
	padding: 0;
	margin-left: 1rem;
	list-style: none;
}

.list li:has(input:checked) label {
	color: hsl(0, 0%, 50%);
}

.list {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

.list li {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.list li label {
	display: flex;
	gap: 0.25rem;
	cursor: pointer;
	align-items: center;
}

.list-title {
	font-size: 1.1rem;
	padding-bottom: 2px;
}

.list li:has(input:focus-visible) label {
	outline: 1px solid hsl(200, 100%, 50%);
}

.list li input {
	outline: none;
	width: 0;
	height: 0;
	appearance: none;
	pointer-events: none;
	position: absolute;
}

.list li label::before {
	content: '';
	display: block;
	width: 1.1rem;
	height: 1.1rem;
	background: hsl(0, 0%, 100%);
	border-radius: 0.25em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.list li label:hover::before {
	background: hsl(0, 0%, 80%);
}

.list li:has(input:checked) label::before {
	content: '✔';
	background: hsl(108, 100%, 91%);
	color: hsl(123, 100%, 28%);
	box-shadow: 0px 0px 2px;
	font-size: 1rem;
	font-weight: bold;
}

.list li:has(input:checked) label:hover::before {
	background: hsl(109, 19%, 66%);
}
